# Environment variables
.env
.env.local
.env.production

# Node modules
node_modules/

# Uploads locais (já não são precisos com Cloudinary)
uploads/

# Ignorar as chaves do Firebase
src/config/firebase-service-account.json
firebase-service-account.json